@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-display: "Outfit", sans-serif;

  --color-vuttik-navy: #002B49;
  --color-vuttik-deep: #020D1A;
  --color-vuttik-blue: #3B82F6;
  --color-vuttik-sky: #60A5FA;
  --color-vuttik-cyan: #22D3EE;
  --color-vuttik-gray: #F8FAFC;
  --color-vuttik-text-muted: #94A3B8;

  --radius-vuttik: 22px;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}


@media print {
  body * {
    visibility: hidden;
  }
  #printable-receipt, #printable-receipt * {
    visibility: visible;
  }
  #printable-receipt {
    position: absolute;
    left: 0;
    top: 0;
    width: 80mm; /* Standard receipt printer width */
    padding: 5mm;
  }
  @page {
    size: auto;
    margin: 0;
  }
}
